/*Banner de la página principal*/
.banner {
  padding-left: -10%;
  max-width: 100%;
  max-height: 100%;
}

.img {
  width: 100%;
  min-width: 300px;
  height: 100%;
  min-height: auto;
}

.btn-pos {
    right: 10%;
    bottom: 10%;
  }

@media (max-width: 1080px) {
  .btn-pos {
    max-width: fit-content;
    bottom: 5%;
    left: 50%;
    transform: none;
  }
}

@media (max-width: 720px) {
  .btn-pos {
    bottom: 1%;
    left: 50%;
    transform: none;
  }
}

/*Título principal*/
.titulos {
  padding-top: 10%;
  padding-bottom: 2%;
  color: #61133A;
  font-size: 20pt;
  text-align: center;
}

/*Texto en labels, bototnes, etc.*/
.labels {
  color: #61133A;
  font-size: 14pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

/*Contenedor principal de log in*/
.box {
  background-color: #ffffff;
  width: 25%;
  min-width: 300px;
  height: 50%;
  min-height: auto;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
  border-radius: 15pt;
  box-shadow: 4pt 4pt #ffd7e7;

}

/*Botones*/
.botones {
  background-color: #f7a8c9;
  border-color: #f7a8c9;
}

.botones:hover {
  background-color: #ef6ba2;
  border-color: #ef6ba2;
  color: white;
  transition: background-color 0.3s ease;
}

.botones:active {
  color: #ef6ba2 !important;
  background-color: #ef6ba2 !important;
  border-color: #ef6ba2 !important;
}

.botones:focus {
  background-color: #ef6ba2 !important;
  border-color: #ef6ba2 !important;
  box-shadow: 0 0 0 0.05rem #ef6ba2;
}

/*Campos de input*/
.textboxes {
  border-color: #ffd7e7;
  border-width: 2pt;
}

.textboxes:hover {
  border-color: #ef6ba2;
  transition: background-color 0.3s ease;
}

.textboxes:focus {
  border-color: #ef6ba2;
  box-shadow: 0 0 0 0.05rem #ef6ba2;
  outline: 0;
}